# file handling
- file is a collection of records,record is a collection of data and data is a collection of bytes
## file operations
- open()
- close()
## modes
- read()
- append()
- while()

In [10]:
s=int(input("enter start"))
stop=int(input("enter stop"))
e=[]
o=[]
for i in range(s,stop+1):
    if i%2==0:
        e.append(i)
    else:
        o.append(i)
print(e)
print(o)

enter start12
enter stop23
[12, 14, 16, 18, 20, 22]
[13, 15, 17, 19, 21, 23]

In [15]:
f = open("data.txt")
fh=f.read()
print(fh)
f.close()

sai lakshmi
pavan

In [30]:
with open("data.txt")as f:
    fh=f.read()
    print(fh)

naninaninanisaisaisaisaisai

In [31]:
with open("data.txt",'w')as f:
    fh=f.write("nani")
    print(fh)

4

In [32]:
with open("data.txt",'a')as f:
    fh=f.write("sai")
    print(fh)

3

In [36]:
with open("data.txt",'r')as f:
    c=w=ch=0
    for i in f:
        c+=1
        for j in i:
            if j==" ":
               w+=1
            if j.isalnum():
                ch+=1
    print(c,w,ch)

1 0 7

In [39]:
l=["sai","nani","harsha"]
k=iter(l)
print(next(k))
print(next(k))
print(next(k))

sai
nani
harsha

In [40]:
def genfunction():
    yield 1
    yield 2
    yield 3
for i in genfunction():
    print(i)

1
2
3

In [41]:
def cube():
    n=2
    while True:
        n=n**3
        yield n
a= cube()
for i in range(3):
    print(next(a))

8
512
134217728

In [43]:
l=input("enter").split()
k=list(map(int,l))
k

enter1 2 3 3 5 6

[1, 2, 3, 3, 5, 6]

In [44]:
def square(n):
    n=n**2
    return n
k=list(map(square,[1,3,4,2]))
li=[1,2,3,43,23]
k1=list(map(square,li))
print(k1)
print(k)

[1, 4, 9, 1849, 529]
[1, 9, 16, 4]

In [2]:
l=[1,2,34,"s"]
def func(c):
    c=str(c)
    if c.isdigit():
        return True
    return False
k=list(filter(func,l))
print(k)

[1, 2, 34]

In [6]:
l=[1,2,34,"s"]
s=list(map(lambda x:x*2,l))
s

[2, 4, 68, 'ss']

In [15]:
p=lambda k:k+2
p(9)

11

In [10]:
from math import sqrt
k=sqrt(25)
k

5.0

In [13]:
import random
random.randint(5,8)

5

In [18]:
ma=[[1,2],[3,4],[8,9]]
fe=[item for row in ma for item in row]
print(fe)

[1, 2, 3, 4, 8, 9]

In [24]:
n=[1,2,3,4,5,6,8]
s=[m for m in n if m%2==0 if m%3==0]
print(s)

[6]

In [26]:
a=["even" if i%2==0 else "odd" for i in range(7)]
a

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [27]:
matrix=[[item for item in range(7)]for row in range(3)]
matrix

[[0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6]]

In [28]:
c=[i**3 for i in range(12)]
c

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331]

In [29]:
l=[1,2,3,4]
c=[i**3 for i in l]
c

[1, 8, 27, 64]

In [35]:
p={"apples":70,"banana":89}
float_p={key:float(value) for key,value in p.items()}
float_p

{'apples': 70.0, 'banana': 89.0}