In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Supervised learning
* Regression

In [10]:
df = pd.DataFrame({'head size':[1,2,3,4,5],
                  'brain weight':[3,4,4.9,6.7,8.9]})

In [11]:
df

   head size  brain weight
0          1           3.0
1          2           4.0
2          3           4.9
3          4           6.7
4          5           8.9

In [12]:
df.shape

(5, 2)

In [13]:
df.columns

Index(['head size', 'brain weight'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
df.describe()

       head size  brain weight
count   5.000000      5.000000
mean    3.000000      5.500000
std     1.581139      2.337734
min     1.000000      3.000000
25%     2.000000      4.000000
50%     3.000000      4.900000
75%     4.000000      6.700000
max     5.000000      8.900000

In [16]:
X = df['head size'] #input
Y = df['brain weight'] #target

### Line Equation
- y=m*x+c
- y=c+m*x
- y=b0+b1*x
    - c or b0 is an intercept
    - m or b1 is slope
    
    ## slope expression(b1)
    *b1=(X-xmean)*(Y-y_mean)/(X-x_mean)^2

In [17]:
n=len(X)
x_mean=np.mean(X)
y_mean=np.mean(Y)

In [19]:
num=0
den=0
for i in range(n):
    num=num+(X-x_mean)*(Y-y_mean)
    den=den+(X-x_mean)**2
b1=num/den
print(b1)

0    1.25
1    1.50
2     NaN
3    1.20
4    1.70
dtype: float64